@charset "utf-8";

body {
	background-color: black;
}
html *{
	font-family: "Trebuchet MS";
}
div#wrapper, pre.debug{
	width:800px;
	margin: 10px auto 0;
	background-color: #F2F2F2;
	background-color: #333;
	text-align: center;
	padding: 10px;
	display: table;
}
h1 {
	font-size: 60pt;
	color: white;
	padding: 10px 0;
	margin: 0;
}
.input_number {
	text-align: center;
	font-size: 60pt;
	color: white;
	background-color: black;
	width: 450px;
	margin: 5px 0;
	padding: 2px 0;
	vertical-align: middle;
}
button.input_button {
	font-size: 12pt;
	width: 170px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	vertical-align: middle;
	-webkit-appearance: none;
	background-color: #EEE;
	display: table-cell;
}

#txtMX_VAL_0 {
	font-size: 120pt;
}
#tdMX0 button {
	height: 188px;
}
pre#debug {
	color: lime;
	background-color: black;
}


.txtMX_VAL_0 {
	color: red;
}
.txtMX_VAL_0_video_inv {
	color: black;
	background-color: red;
}

.txtMX_VAL_1 {
	color: magenta;
}
.txtMX_VAL_1_video_inv {
	color: black;
	background-color: magenta;
}

.txtMX_VAL_2 {
	color: blue;
}
.txtMX_VAL_2_video_inv
{
	color: black;
	background-color: blue;
}

.txtMX_VAL_3
{
	color: lime;
}
.txtMX_VAL_3_video_inv
{
	color: black;
	background-color: lime;
}

.txtMX_VAL_4
{
	color: yellow;
}
.txtMX_VAL_4_video_inv
{
	color: black;
	background-color: yellow;
}


.hide
{
	display: none !important;
}

div.input_button_div {
	display: table;
	float: right;
	margin: 0 0 0 0px;
	width: 250px;
	/*border: 2px solid white;*/
}
div.input_number_div {
	display: table;
	float: left;
	margin: 0 auto;
	width: 540px;
	/*border: 2px solid white;*/
}